<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Home</title>
    <!-- Librerias -->
    <link
      rel="stylesheet"
      href="https://meyerweb.com/eric/tools/css/reset/reset.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <!-- Mantener en todas las paginas -->
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <!-- Estilo CSS de la pagina -->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <nav id="brand">
        <a href="/">
          <picture>
            <img src="/images/imagotipo.png" alt="Logo de Digital Home" />
          </picture>
        </a>
      </nav>
      <nav id="burguer">
        <a href=""><i class="fas fa-bars"></i></a>
      </nav>
      <form action="">
        <fieldset>
          <select name="type" id="type">
            <option value="precio">precio</option>
            <option value="superficie">superficie</option>
            <option value="ambientes">ambientes</option>
            <option value="ubicacion">ubicacion</option>
          </select>
          <input type="text" />
          <button type="submit"><i class="fas fa-search"></i></button>
        </fieldset>
      </form>

      <nav id="main">
        <a href="/">Home</a>
        <a href="/login">Sign In</a>
        <a href="/register">Sign out</a>
        <a href="/cart">Cart</a>
      </nav>
    </header>

    <main>
      <section id="list-product">
        <header>
          <h2>Ofertas</h2>
        </header>
        <article>
            <picture>
                <img src="/images/house.png" alt="Imagen de prueba para el producto">
            </picture>
            <section>
                <h3>Direccion de la casa</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, recusandae.</p>  
            </section>
        </article>
        <article>
            <picture>
                <img src="/images/house.png" alt="Imagen de prueba para el producto">
            </picture>
            <section>
                <h3>Direccion de la casa</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, recusandae.</p>  
            </section>
        </article>
        <article>
            <picture>
                <img src="/images/house.png" alt="Imagen de prueba para el producto">
            </picture>
            <section>
                <h3>Direccion de la casa</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, recusandae.</p>  
            </section>
        </article>
      </section>

      <section>
          <header>
              <h2>Conocé más nuestras ofertas</h2>
          </header>

          <form action="">
            <fieldset>
                <input type="text" placeholder="Email">
                <button type="submit"><i class="fas fa-envelope"></i></button>
            </fieldset>
          </form>

      </section>

      

    </main>

    <footer>
      <section>
        <picture>
            <img src="/images/logotipo.png" alt="Logotipo de Digital Home"/>
        </picture>
        <article>
          <h3>Encontranos En</h3>
          <p>Av.Boulogne Sur Mel 1498</p>
        </article>
      </section>
      <section>
        <nav>
            <a href="http://" target="_blank"> 
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="http://" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="http://" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </nav>
      </section>
      <section>
        <article>
            <p>
                &copy; Todos los derechos reservados a Digital Home
            </p>
        </article>
      </section>
    </footer>
  </body>
</html>
